.cardHeading {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid gainsboro;
  padding: 0.5rem 1rem;
}

.card {
  border: 1px solid gainsboro;
  max-width: 300px;
  height: min-content;
  text-align: left;
  cursor: pointer;
}
.cardBody {
  padding: 0 1rem;
}
.card:hover {
  opacity: 0.9;
  border: 1px solid gray;
}

.cardBody > h4 {
  color: rgb(109, 109, 109);
}
.card > h3 {
  color: rgb(109, 109, 109);
  font-size: larger;
}
