.navbar {
  margin-top: 1rem;
  padding: 1rem 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gainsboro;
}

.brand {
  font-size: 1.5rem;
}
.brand:hover {
  text-decoration: underline;
}

.navLink {
  margin-right: 1rem;
  color: #0d9898;
  position: relative;
  display: inline-block;
}
.navLink:hover {
  text-decoration: underline;
  color: #0b7a7a;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: blue;
}
