.container {
  display: flex;
  flex-direction: column;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.rowHeading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid gainsboro;
}

.utxos {
  max-width: 20rem;
  max-height: 15rem;
}

.details {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}
